/* Mindmap Library Styles */
.mindmap-node { border: 1px solid black; padding: 5px; position: absolute; background-color: white; }

.mindmap-connector {
    position: absolute;
    /* width et height sont maintenant entièrement gérés par JavaScript */
    z-index: -1; /* Pour que les lignes soient derrière les nœuds */
    pointer-events: none; /* Make sure the svg doesn't capture mouse events */
}

.connection-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hide by default */
}

.connection-point.visible {
    display: block; /* Show when connected */
}

.connection-point.selected {
    background-color: blue !important;
}

.connection-point-top {
    top: 0;
    left: 50%;
}

.connection-point-right {
    top: 50%;
    left: 100%;
}

.connection-point-bottom {
    top: 100%;
    left: 50%;
}

.connection-point-left {
    top: 50%;
    left: 0;
}
